/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Ketik code Anda di bawah */
.header{
  background-color: #26d0c9;
    color: #fff;
    height: 90px;
    display:block;
}
.header-logo{
  float:left;
  font-size:36px;
  padding:20px;
}
.header-list li{
  float:left;
  font-size:20px;
  padding:30px;
}
.main{
  padding:100px 80px;
}
.main h1{
  font-size:140px;
}
.main span{
  color:red;
}
.main h2{
  font-size:60px;
}